
.index{
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.Head{text-shadow: red;
color: white;
font-size: 60px;}
body{
  text-align:center;

}
hr{
  height: 15px;
  border-color: white;
  width:50%;
  border-style: groove;
  background-color: white;
  border-width: thin;
}
a:link{color:red;}
a:visited{color:#00ff21;}
a:hover{color: white;
font-size: 20px;
font-family: monospace;}

.pic{
  width: 400px;
  float: left;
  margin-right: 20px;
}
.headp{
  color:white;
}
.links{
  color: white;
  text-align: left;
}
.Christianity{
  color: white;
}
#tain{
  color: white;
  font-size: 60px;
}
