.Head{
  text-shadow: red;
  color: purple;
}
.index{
  background-image: url();
}
body{
  text-align: center;
  color: black;
}
hr{
  height: 10px;
  border-color: red;
  width:50%;
  border-style: groove;
  background-color: blue;
}
a:link{color:blue;}
a:visited{color:#ff05d4;}
a:hover{color: cyan;
font-size: 20px;
font-family: monospace;}
