body{
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(space.jpg) no-repeat fixed left;
  text-align: center;


}

a:link {color: white;}
a:visited {color: white;}
.otherstuff{
  background-clip: content-box;
  background-color: blue;
  opacity: 3;
}

.img{
  width: 700px;
}
.image{
  float:right;
}
.hello{
  color:white;
}
