body{
	background-image: url(taco.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment:fixed;
	
	
}
.links{
	text-align:center;
}
a:link{color:blue;}
a:visited{color:#ff00d4;}
a:hover{color:red;
	font-size:20px;
	font-family:cursive;}

.tacophotos{
	border-width: 3px;
	border-color: black;
	border-style: solid;
	margin-right: 10px;
}

#tacopara{
	color:#ccffff;
	
}
.centerhead{
	text-align: center;
}