.myform{
  background-color: gray;
  text-align: center;
}
.fn{
  background-color: black;
  color: white;
}
.ln{
  background-color: black;
  color: white;
}
.phone{
  background-color: black;
  color: white;
}
.address{
  background-color: black;
  color: white;
}
.state{
  background-color: black;
  color: white;
}
.city{
  background-color: black;
  color: white;
}
.zip{
  background-color: black;
  color: white;
}
.ess{
  background-color: black;
  color: white;
}
